.plan {
    padding: 50px 0;
}
.infoArea {
    margin-top: 40px;

    display: flex;
    align-items: center;
    gap: 20px;
}
.infoArea img {
    width: 200px;
    object-fit: scale-down;
}
.plan > h1 {
    font-size: var(--h1-size);
}
.planElem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.planElem h1 {
    font-size: var(--h3-size);
}
.planElem p {
    font-size: var(--p-size);
    max-width: 50%;
    color: var(--text-gray);
}


@media (max-width: 980px) {
    .infoArea {
        margin-top: 0;
        flex-direction: column;
    }
    .planElem p {
        max-width: 100%;
        text-align: center;
    }
}