.whyUs {
    position: relative;

    padding: 70px;

    width: 100%;
    height: fit-content;
}
.wheels {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 50%;
    z-index: -1;
}
.container {
    width: 100%;
    margin: 0 auto;

    max-width: 133rem;
    padding: 0 2.5rem;
}
.header {
    object-fit: scale-down;
    width: 100%;
}
.whyUsText {
    display: flex;
    gap: 40px;

    width: 100%;
    height: fit-content;
}
.leftBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 2.5rem 2.5rem;

    height: 100%;
    width: 60%;
}
.leftBlock h2 {
    font-size: var(--h4-size);
    font-weight: 500;
}
.leftBlock h1 {
    font-size: var(--h2-size);
}
.leftBlock p {
    color: var(--text-gray);
    font-size: var(--p-size);
}
.leftBlock a {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--p-size);
    font-weight: 600;

    margin-top: 40px;

    width: fit-content;
    padding: 15px 20px;

    box-shadow: var(--box-shadow);
    background-color: var(--accent-color);
    border-radius: 5px;
    color: white;
}
.rightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 2.5rem 0;

    height: 100%;
    width: 40%;
}
.whyElem {
    display: flex;
    align-items: center;
    gap: 20px;

    width: fit-content;
    height: fit-content;
}
.whyElemText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.whyElemText h1 {
    font-size: var(--h4-size);
}
.whyElemText p {
    color: var(--text-gray);
    font-size: var(--p-size);
}
.whyElem img {
    object-fit: scale-down;
    width: 150px;
}


@media (max-width: 1200px) {
    .whyUs {
        padding: 50px 0;
    }
    .whyUsText {
        flex-direction: column;
    }
    .leftBlock {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .rightBlock {
        width: 100%;
        padding: unset;
        gap: 40px;

        text-align: center;
    }
    .whyElem {
        width: 400px;
    }
    .wheels {
        width: 80%;
    }

    .container {
        padding: 0 20px;
    }
}
@media (max-width: 980px) {
    .wheels {
        display: none;
    }
    .whyUsText {
        gap: 0;
    }
    .leftBlock {
        padding: 1rem 1rem;
    }
    .leftBlock h1 {
        font-size: 2.6rem;
    }
    .rightBlock {
        gap: 20px;
    }
    .whyElem {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
}