.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 350px;
    height: 590px;

    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.1);

    text-align: center;
}
.card img {
    min-height: 70%;
    max-height: 70%;

    background-color: #f4f4f5;
    object-fit: cover;
}
.card h1 {
    margin-top: 40px;
    font-size: 24px;
}
.card p {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}