.background {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 420px;
    min-height: 420px;

    z-index: -1;
    filter: opacity(0.1);
    object-fit: cover;
}

.header {
    margin: 0 auto;
    max-width: 133rem;
    padding: 2.5rem 2.5rem;

    height: 320px;
    min-height: 320px;
}
.header a {
    color: black;
    transition: var(--transition-slow);
}
.header a:hover {
    color: var(--accent-color);
}
.header h2 {
    font-size: var(--h2-size);
}
.header h2:first-letter {
    text-transform: uppercase;
}
.header p {
    font-size: var(--p-size);
    font-weight: 600;
}

.footer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    height: 200px;

    color: white;
    background-color: #282829;
}
.footer img {
    position: absolute;

    width: 100%;
    height: 100%;

    pointer-events: none;
    filter: opacity(0.1);
    object-fit: cover;
}
.footer p, .footer span {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: var(--h2-size);
    font-weight: bold;
    font-variation-settings: 'wght' 800, 'FILL' 1;
}
.footer > :nth-child(3), .footer >:nth-child(4) {
    color: var(--accent-color);
}

@media (max-width: 1200px) {
    .header {
        height: 250px;
        min-height: 250px;
        padding: 50px 2.5rem;
    }
    .background {
        height: 350px;
        min-height: 350px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer p, .footer span {
        font-size: var(--h3-size);
    }
}
@media (max-width: 980px) {
    .header {
        height: 150px;
        min-height: 150px;

        padding: 20px 5%;
    }
    .background {
        height: 250px;
        min-height: 250px;
    }
    .header h2 {
        font-size: var(--h3-size);
    }
    .header a:hover {
        color: black;
    }
}