.modalMobile {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    position: fixed;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background-color: white;
    z-index: 999;

    transition: all 0.3s ease 0s;
}
.modalMobile span {
    position: absolute;
    right: 35px;
    top: 25px;

    font-variation-settings: 'wght' 600;
    font-size: 30px;

    cursor: pointer;
}
.modalMobile a {
    text-decoration: none;
    color: black;
    font-size: var(--h4-size);
    font-weight: 500;
}
.langSwitcher {
    font-size: 2.4rem;
}

@media (max-width: 1200px) {
    .modalMobile {
        display: flex;
    }
    .show {
        left: 0;
    }
    .modalMobile a:last-child {
        display: none;
    }
}
@media (max-width: 980px) {
    .modalMobile a:last-child {
        display: unset;
    }
}