.card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 350px;
    height: 610px;

    border: 1px solid rgba(0,0,0,0.3);
}
.card img {
    min-height: 45%;
    max-height: 45%;
    object-fit: cover;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    height: 50px;
}
.row > div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.row > div p {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: 600;
}
.row > div span {
    font-variation-settings: "FILL" 1, "wght" 600;
}
.model {
    flex-direction: column;
    align-items: flex-start !important;
}
.price {
    flex-direction: column;
    align-items: flex-end !important;
}
.model h1 {
    font-size: 24px;
}
.model span {
    color: #fdc734;
    font-size: 18px;
}
.price h1 {
    font-size: 24px;
}

.card hr {
    width: 80%;
    border: 1px solid rgba(0,0,0,0.3);
    transform: scaleY(0.1);
    margin: 0 auto;
}

.card button {
    margin: 0 auto;

    width: calc(100% - 60px);
    height: 60px;
    
    border: none;
    background-color: var(--accent-color);
    color: white;
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
}