* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
img, a, button {
    user-select: none;
}
button {
    outline: none;
}

#root {
    --accent-color: #fd4c31;
    --accent-glow: rgba(253, 76, 49, 0.3);
    --box-shadow: 0 0 10px 5px var(--accent-glow);

    --font-color-primary: #2f2f30;

    --transition-fast: all 0.15s ease 0s;
    --transition-slow: all 0.3s ease 0s;
}

body {
    background-color: #fdfdfe;
}