.container {
    margin: 0 auto;

    padding: 0 5%;

    max-width: 1500px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 100px;

    width: 100%;
    height: fit-content;

    padding-bottom: 100px;
}
.background {
    position: absolute;
    right: 0;
    top: 0;

    object-fit: scale-down;

    z-index: -1;
}

.delimiter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 300px;

    color: white;
    text-align: center;

    background-color: #2d2d2e;
}
.delimiter h1 {
    font-size: 46px;
}
.delimiter h2 {
    font-size: 26px;
    font-weight: normal;
}
.delimiter span {
    color: var(--accent-color);
}


@media (max-width: 1200px) {
    .background {
        display: none;
    }

    .container {
        padding: 0 20px;
    }
}
@media (max-width: 900px) {
    .delimiter h1 {
        font-size: 42px;
    }
    .delimiter h2 {
        font-size: 22px;
    }
}